<div class="d-flex flex-column h-100">
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>
            {{ title }}
          </h1>
        </div>
        <div class="col text-right">
          <div><span>v. {{ version }}</span></div>
          <div><span>{{ user }}</span></div>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="flex-shrink-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="padding-top: 15px;">
            <p-menu [model]="items"></p-menu>
        </div>
        <div class="col-10" style="padding-top: 15px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer mt-auto py-3">
    <div class="container-fluid text-right">
      Copyright 2020
    </div>
  </footer>
</div>
